* {
    /*
    outline: 2px solid red; */
    padding: 0;
    overscroll-behavior: none;
    box-sizing: border-box;
}
:root {
    color-scheme: dark;
    --theme: black;
    --bg: #000;
    --bg2: #1e1c1d;
    --fg: white;
    --muted: grey;
    --site: hotpink;
    --accent: cyan;
}
body {
    background-image: linear-gradient(to right, var(--bg), var(--bg2));
    background-color: black;
    font-family: "Comic Sans MS", ui-rounded, system-ui, "sans-serif";
    line-height: 1.7;
    color: white;
}
.waifu {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: .25;
    z-index: -1;
    object-fit: contain;
    max-height: 67vh;
    max-width: 100vw;
}
.title-bar {
    text-align: center;
    padding: 50px 0 6px;
}
h1.site {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    letter-spacing: 0.02em;
    display:inline-block;
    color: var(--site);
    text-shadow: 2px 2px 0 #0d0f10, 3px 3px 0 #a1ffe0;
}
h1.site .accent {
    color: var(--accent);
}
.tag {
    text-align: center;
    color: #fff1db;
    margin: 6px 0 30px;
    font-size: 14px;
    font-style: italic; 
}
.rainbow{

  background: linear-gradient(
    90deg,
    #ff1744 0%,
    #ff9100 16%,
    #ffe600 32%,
    #00FC82 48%,
    #00b0ff 64%,
    #cd84ff 80%,
    #f00 100%
  );

  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: rainbow-move 6s ease-in-out infinite;
  margin: 0 0 25px 0;
  text-align: center;
}

@keyframes rainbow-move{
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.yellow {
    color: yellow;
}
.green {
    color: lime;
}
.blue {
    color: blue;
}
.purple {
    color: #FF00BB;
}
.wrap {
    max-width: 600px;
    margin: 0 auto;
    padding: 8px 20px 90px;
}
.rel {
    margin:0;
    background: rgba(0,0,0,.5);
    border: 2px solid hotpink;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 6px 18px #a1ffe080;
}
details.rel summary{
    font-size: 16px;
    cursor: pointer;
    list-style: none;
    font-weight: 700;
}
details.rel .body{
    font-size: 15px;
    padding: 8px 0 0 1.3em;
}
.date {
    color: lightgrey;
    font-style: italic;
    font-weight: normal;
}
details.subrel summary {
    color: cyan;
    padding: 8px 0 0 1.3em;
}
details.rel video {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
    object-fit: contain;
    width: 250px;
}
