* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;/*
    outline: 2px solid red;*/
}
html::-webkit-scrollbar {
    display: none;
}
body {
    background-color: black;
    color: white;
}
pre {
    text-align: center;
}
#downloadp {
    background-color: gold;
    color: black;
    font-weight: 900;
    text-align: center;
}
.rainbow{
  font-weight: 800;

  background: linear-gradient(
    90deg,
    #ff1744 0%,
    #ff9100 16%,
    #ffe600 32%,
    #00e676 48%,
    #00b0ff 64%,
    #651fff 80%,
    #ff1744 100%
  );

  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: rainbow-move 6s ease-in-out infinite;
  margin: 0 0 25px 0;
  text-align: center;
}

@keyframes rainbow-move{
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.red {
    color: cyan;
}
.discord {
    color: black;
    background-color: #7289da;
    font-weight: 900;
    text-decoration: none;
}
a {
    text-align: center;
    display: block;
    margin: 5px auto;
}

#logo {
    margin-top: 20px;
    max-height: 200px;
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.games {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container {
    border: 2px solid lime;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    width: 90%;
    background-color: black;
    max-width: 200px;
    height: 50%;
    text-align: center;
    margin: 0 auto;
    border-bottom-style: none;
}

