body {
    font-family: Bradley Hand, cursive;
    background-image: url(../images/snow2.gif);
}

h1 {
    font-size: 45px;
}
, nav, footer{
    background-color: hotpink;
}
a:hover {
    color: navy;
}

.bbhome {
    background-color: darkorange;
}

.logo {
    
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.bbsec {
    background-color: plum;
}

.bbnet {
    background-color: rgb(33,171,205)   ;
}
h1 {
    color: green;
    text-align: center;
}

nav {
    margin: auto;
    text-align: center;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: orange;
    z-index: 1000;
}
p{
    font-size: 10px;
}
