:root {
    /* overscroll-behavior: none;   */
    background-color: black;
    margin: 0;
    padding: 0;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    color: lightgoldenrodyellow;
    word-wrap: break-word;
    /*
    border-color: red;
    background-color: lightcoral;
    */
}
html::-webkit-scrollbar {
    display: none;
}
body {
    padding-bottom: 50px;
}
pre {
    color: #4AF262;
    margin-left: 15px;
}
.b {
    font-weight: bold;
}
.u {
    text-decoration: underline;
}
.i {
    font-style: italic;
}
/* \----------------------Navigation----------------------\ */
nav {
    background: linear-gradient(to right, transparent, rgba(0,200,128, 0.5), rgba(255,215,0,0.5), rgba(255,0,255,.5), transparent);
    padding: 5px 10px 5px 30px;
    width: 300px;
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 20px;
}
nav a {
    text-align: center;
}
nav a img {
    max-width: 40px;
    height: auto;
    vertical-align: middle;
}
a:link {
    color: aqua;
}
a:hover {
    color: lightgoldenrodyellow !important;
}
a:active {
    color: orange !important;
}
/* \----------------------TABLE----------------------\ */
table, td, th, tbody, theader {
    border-collapse: collapse;
    border: none;
}
th {
    background: rgba(102, 102, 102, 0.2);
    color: lightgoldenrodyellow;
    width: 20%;
}
.monero {
    background: rgba(255, 102, 0, .8);
    color: rgba(146,237,79, 1);
    text-align: center;
    font-weight: bold;
}
.cashapp {
    background: rgba(76, 76, 76, .8);
    color: rgba(146,237,79, 1);
    text-align: center;
    font-weight: bold;
}
/* \----------------------buttons----------------------\ */
.container {
    position:relative;
    width: 300px;
    height: 100px;
    margin: 0 0 0 20px;
    border: 2px groove;
    border-width: medium;
}
.image {
    opacity: 1;
    display: block;
    width: 300px;
    height: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.container:hover .image {
    opacity: 0.4
}
.container:hover .middle {
    opacity: 1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
button {
    background: #75BFEC;
    color: black;
}
button:hover {
    background: #6879D0;
    cursor: pointer;
}
/* \----------------------about----------------------\ */
/* contacts */
.yellow {
    width:300px;
    background:  rgba(255,211,0,.9);
    margin: 0 0 0 20px;
    font-style: italic;
    text-align: center;
    color: black;
}
/* q&a */
#q\&a p.q::before {
    content: "Q: ";
    font-weight: bold;
}
#q\&a p.q {
    background: rgba(37, 121, 49, 1);
    width:300px;
    margin: 0 0 0 20px;
}
#q\&a p.a::before {
    content: "A: ";
    font-weight: bold;
}
#q\&a p.a {
    margin: 0 0 0 20px;
    background: rgba(0, 0, 0, 1);
    width:300px;
}
#q\&a {
    color: lightgoldenrodyellow;
    background: radial-gradient(circle,  rgba(0, 0, 100, 1), #001818 75%);
    padding: 10px 0 20px 0;
    width: 345px;
    border-radius: 10px;
}
#q\&a div {
    margin: 10px 0 0 0;
}
/* \----------------------payment----------------------\ */
#payment {
    padding: 0 0 0 20px;
    color: black;
}
.box {
    background: lightgray;
    position: relative; 
    height: 50px;
    width: 300px;
}
.child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    margin-left: 60px;
}
.paybox {
    background: orange;
    position: relative; 
    height: 300px;
    width: 300px;
}
.lightgreen {
    background: rgba(146,237,79, 0.5);
    width:300px;
    margin-bottom: -10px;
}
.lightorange {
    background: rgba(255,195,61, 0.5);
    width:300px;
    word-wrap: break-word;
    margin-bottom: -10px;
}
/* \----------------------games----------------------\ */
.game {
    width: 300px;
    padding: 0 0 0 20px;
}


