/*
:root {
    overscroll-behavior: none;  
}
*/
body {
    padding-bottom: 50px;
}
.ml {
    margin-left: 10px;
}
.mr {
    margin-right: 10px;
}
.mt {
    margin-top: 10px;
}
nav a {
    margin-right: 5px;
    margin-left: 5px;
}
a:hover {
    color: purple;
}
.b {
    font-weight: bold;
}
.u {
    text-decoration: underline;
}
.i {
    font-style: italic;
}
.box {
    background: lightgray;
    position: relative; 
    height: 50px;
    width: 300px;
}
.child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    margin-left: 60px;
}
.paybox {
    background: orange;
    position: relative; 
    height: 300px;
    width: 300px;
}
.lightgreen {
    background: rgba(146,237,79, 0.5);
    width:300px;
    margin-bottom: -10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.lightorange {
    background: rgba(255,195,61, 0.5);
    width:300px;
    word-wrap: break-word;
    margin-bottom: -10px;
}

.lightyellow {
    width:300px;
    background: rgba(255, 255, 0, 0.5);
    word-wrap: break-word;
}
.nolink {
   color: black;
   text-decoration: none; 
}
.test {
    border-color: red;
    background-color: lightcoral;
}
.lightgrey {
    margin: 0px;
    background: lightgray;
    width:300px;
    word-wrap: break-word;
}
.darkgrey {
    margin: 0px;
    background: darkgrey;
    width:300px;
}
.pink {
    color: deeppink;
}
#discord {
    width: 40px;
    height: 40px;
}


/*BUTTONS*/
.container {
    position:relative;
    width: 300px;
    height: 100px;
    margin: 0 0 0 10px;
    border: 2px groove;
    border-width: medium;
}
.image {
    opacity: 1;
    display: block;
    width: 300px;
    height: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.container:hover .image {
    opacity: 0.4
}
.container:hover .middle {
    opacity: 1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.button {
    background: #75BFEC;
    color: black;
}
.button:hover {
    background: #6879D0;
    cursor: pointer; 
}