* {
    /* overscroll-behavior: none;   */
    margin: 0;
    padding: 0;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    word-wrap: break-word;  /*
    border: 2px solid red; */
}

html::-webkit-scrollbar {
    display: none;
}
body {
    /*blackflowbg*/
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia0.giphy.com%2Fmedia%2Fv1.Y2lkPTc5MGI3NjExOWt1enpydG5oZzMyOHJnM2txajZ3ZHRjcWtkeWE0eWRxamNrMHh5NyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw%2FLQULARulzL0QH3xzkK%2Fgiphy.gif&f=1&nofb=1&ipt=ef9daadd4dc7f666030c03a397b206e8c6c304dd066d7823d5ed1ac410d953f2');
    /*
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F20458297.gif&f=1&nofb=1&ipt=71ad8fb729a3dc390eb8cf553ddc6a4513ca3b1d6c5c81834d36a7b9c3fee1fe');
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.gifer.com%2FX226.gif&f=1&nofb=1&ipt=12e5bdd49769fdbf337861ce8d53246ef086a176f810ec1f2b1a3f86bbc16034');
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fart.ngfiles.com%2Fimages%2F1498000%2F1498851_ghostwarriors_siren-head-attack-fan-gif-from-gw-universe.gif%3Ff1604947850&f=1&nofb=1&ipt=e45c28783d159d45a9fddb1141963141e37408d0abb6142bc1bfa80608cc181d');
    background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fgiffiles.alphacoders.com%2F276%2F2766.gif&f=1&nofb=1&ipt=baeb6d87bb41e3b33a27bcce0185ff265b6964424087277ae8446dc00864c579');
    /*
    amonggb 
    background: url('https://sussy.win/assets/images/amongbg.gif'), black;
    */
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; /* calc(50% + -69px); */
    min-height: 100vh;
    position: relative;
    color: lightgoldenrodyellow;
}
pre {
    color: #4AF262;
    text-align: center;
    background-color: rgba(0,0,0,.8)
}
.b {
    font-weight: bold;
}
.u {
    text-decoration: underline;
}
.i {
    font-style: italic;
}
/* \----------------------Navigation----------------------\ */
nav {
    background: linear-gradient(to right, transparent, rgba(0,200,128, 0.5), rgba(255,215,0,0.5), rgba(255,0,255,.5), transparent);
    background-color: rgba(0,0,0,.8);
    width: 100vw;
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 20px;
}
nav a {
    text-align: center;
}
nav a img {
    max-width: 40px;
    height: auto;
    vertical-align: middle;
}
a:link {
    color: #66ffcc;
}
a:hover {
    color: #ff3333 !important;
}
a:active {
    color: #4AF262 !important;
}
a:visited {
    color: #66ffcc;
}
/* \----------------------cheats----------------------\ */
#cheats {
    color: lightgoldenrodyellow;
    background: radial-gradient(circle,  rgba(0, 0, 100, 1), #001818 75%);
    padding: 20px 0;
    margin: 0 auto;
    width: 345px;
    border-radius: 10px;
}
.container {
    position:relative;
    width: 300px;
    height: 100px;
    margin: 0 0 0 20px;
    border: 2px lightgoldenrodyellow groove;
    border-width: medium;
}
.image {
    opacity: 1;
    display: block;
    width: 300px;
    height: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.container:hover .image {
    opacity: 0.4
}
.container:hover .middle {
    opacity: 1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
button {
    background: #75BFEC;
    color: black;
}
button:hover {
    background: #6879D0;
    cursor: pointer;
}
/* \----------------------about----------------------\ */
/* contacts */
.yellow {
    width:310px;
    background:  rgba(255,211,0,.9);
    margin: 25px auto 25px auto;
    font-style: italic;
    text-align: center;
    border-radius: 4px;
    color: black;
    
}

/* q&a */
#q\&a p.q::before {
    content: "Q: ";
    font-weight: bold;
}
#q\&a p.q {
    background: rgba(37, 121, 49, 1);
    width:300px;
    margin: 0 0 0 20px;
}
#q\&a p.a::before {
    content: "A: ";
    font-weight: bold;
}
#q\&a p.a {
    margin: 0 0 0 20px;
    background: rgba(0, 0, 0, 1);
    width:300px;
}
#q\&a {
    color: lightgoldenrodyellow;
    background: radial-gradient(circle,  rgba(0, 0, 100, 1), #001818 75%);
    padding: 10px 0 20px 0;
    width: 345px;
    border-radius: 10px;
    margin: auto;
}
#q\&a div {
    margin: 10px 0 0 0;
}
/* \----------------------payment----------------------\ */
#payment {
    color: black;
    text-align: center;
}
.box {
    background: lightgray;
    position: relative; 
    height: 50px;
    width: 300px;
    border-radius: 0 0 4px 4px;
}
.child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}
.paybox {
    background: orange;
    position: relative; 
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 0 0 4px 4px;
}
.lightgreen {
    background: rgba(146,237,79, 0.6);
    width:300px;
    margin:auto;
    border-radius: 4px 4px 0 0;
}
.lightorange {
    background: rgba(255,195,61, 0.6);
    width:300px;
    margin: 25px auto 0 auto;
    border-radius: 4px 4px 0 0;
}
/* \----------------------games----------------------\ */
.game {
    margin: 25px auto 0 auto;
    text-align: center;
}
/* \----------------------GAME CONTENTS----------------------\ */
.gamecontents {
    background: radial-gradient(circle,  rgba(0, 0, 100, 1), #001818 75%);
    padding: 20px 20px;
    border-radius: 10px;
    margin: auto;
    width: 305px;
}

table, td, th, tbody, theader {
    border-collapse: collapse;
    border: none;
}
tr th:not(.exc1, .exc2) {
    background: rgba(0, 0, 0, .5);
    color: lightgoldenrodyellow;
    width: 20%;
}
.exc1 {
    background-color: #ff6633;
    color: black;
}
.exc2 {
    background-color: #4AF262;
    color: black;
}
.monero {
    background: #ff663380;
    color: rgba(146,237,79, 1);
    text-align: center;
    font-weight: bold;
}
.cashapp {
    background: #4AF26280;
    color: rgba(146,237,79, 1);
    text-align: center;
    font-weight: bold;
}
.description {
    text-align: left;
}


/* \----------------------footer----------------------\ */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 85px;
  font-style: italic;
  text-align: center;
  line-height: 16px;
  font-size: 13px;
  margin: auto;
}
footer p:first-child {
    padding: 25px 0 0 0;
}
.bgblur {
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply blur effect */
    padding: -20px 0 0 0;
    border-radius: 5px;
}
footer p:last-child {
    padding: 0 0 25px 0;
}
body::after {
  content: '';
  display: block;
  height: 85px;
}