:root {
    overscroll-behavior: none;  
}
.ml {
    margin-left: 20px;
}
.mr {
    margin-right: 10px;
}
nav a {
    margin-right: 5px;
    margin-left: 5px;
}
a:hover {
    color: purple;
}
.b {
    font-weight: bold;
}
.u {
    text-decoration: underline;
}
.i {
    font-style: italic;
}
.box {
    background: lightgray;
    position: relative; 
    height: 50px;
    width: 300px;
}
.child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    margin-left: 60px;
}
.paybox {
    background: orange;
    position: relative; 
    height: 300px;
    width: 300px;
}
/*
.certbox {
    background: lightgray;
    position: relative; 
    height: 30px;
    width: 300px;
}
.certbox2 {
    background: darkgrey;
    position: relative; 
    height: 30px;
    width: 300px;
}
*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

.unwrap {
    width:300px;
    background: rgba(255, 255, 0, 0.5);
    word-wrap: break-word;
}