:root {
    overscroll-behavior: none;  
}

#logo {
    width: 50px;
}

a {
    margin-right: 5px;
    margin-left: 5px;
}

a:hover {
    color: purple;
}

span {
    font-weight: bold;
    margin-right: 5px;
    font-style: italic;
    
}

#margin {
    margin-left: 10px;
}

.underline {
    text-decoration: underline;
}