* {
    /* overscroll-behavior: none;   */
    margin: 0;
    padding: 0;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    word-wrap: break-word; /*
    border: 2px solid red; */
}

html::-webkit-scrollbar {
    display: none;
}
body {
    background-color: black;
    min-height: 100vh;
    position: relative;
    color: lightgoldenrodyellow;
}
pre {
    color: #4AF262;
    text-align: center;
}
.b {
    font-weight: bold;
}
.u {
    text-decoration: underline;
}
.i {
    font-style: italic;
}
/* \----------------------Navigation----------------------\ */
nav {
    background: linear-gradient(to right, transparent, rgba(0,200,128, 0.5), rgba(255,215,0,0.5), rgba(255,0,255,.5), transparent);
    width: 100vw;
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 20px;
}
nav a {
    text-align: center;
}
nav a img {
    max-width: 40px;
    height: auto;
    vertical-align: middle;
}
a:link {
    color: aqua;
}
a:hover {
    color: lightgoldenrodyellow !important;
}
a:active {
    color: orange !important;
}
/* \----------------------TABLE----------------------\ */
table, td, th, tbody, theader {
    border-collapse: collapse;
    border: none;
}
th {
    background: rgba(102, 102, 102, 0.2);
    color: lightgoldenrodyellow;
    width: 20%;
}
.monero {
    background: rgba(255, 102, 0, .8);
    color: rgba(146,237,79, 1);
    text-align: center;
    font-weight: bold;
}
.cashapp {
    background: rgba(76, 76, 76, .8);
    color: rgba(146,237,79, 1);
    text-align: center;
    font-weight: bold;
}
/* \----------------------buttons----------------------\ */
.container {
    position:relative;
    width: 300px;
    height: 100px;
    margin: 0 0 0 20px;
    border: 2px lightgoldenrodyellow groove;
    border-width: medium;
}
.image {
    opacity: 1;
    display: block;
    width: 300px;
    height: 100px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.container:hover .image {
    opacity: 0.4
}
.container:hover .middle {
    opacity: 1;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
button {
    background: #75BFEC;
    color: black;
}
button:hover {
    background: #6879D0;
    cursor: pointer;
}
/* \----------------------cheats----------------------\ */
#cheats {
    color: lightgoldenrodyellow;
    background: radial-gradient(circle,  rgba(0, 0, 100, 1), #001818 75%);
    padding: 10px 0 20px 0;
    margin: 0 auto;
    width: 345px;
    border-radius: 10px;
}
/* \----------------------about----------------------\ */
/* contacts */
.yellow {
    width:310px;
    background:  rgba(255,211,0,.9);
    margin: 25px auto 25px auto;
    font-style: italic;
    text-align: center;
    border-radius: 4px;
    color: black;
    
}

/* q&a */
#q\&a p.q::before {
    content: "Q: ";
    font-weight: bold;
}
#q\&a p.q {
    background: rgba(37, 121, 49, 1);
    width:300px;
    margin: 0 0 0 20px;
}
#q\&a p.a::before {
    content: "A: ";
    font-weight: bold;
}
#q\&a p.a {
    margin: 0 0 0 20px;
    background: rgba(0, 0, 0, 1);
    width:300px;
}
#q\&a {
    color: lightgoldenrodyellow;
    background: radial-gradient(circle,  rgba(0, 0, 100, 1), #001818 75%);
    padding: 10px 0 20px 0;
    width: 345px;
    border-radius: 10px;
    margin: auto;
}
#q\&a div {
    margin: 10px 0 0 0;
}
/* \----------------------payment----------------------\ */
#payment {
    color: black;
    text-align: center;
}
.box {
    background: lightgray;
    position: relative; 
    height: 50px;
    width: 300px;
    border-radius: 0 0 4px 4px;
}
.child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}
.paybox {
    background: orange;
    position: relative; 
    height: 300px;
    width: 300px;
    margin: auto;
    border-radius: 0 0 4px 4px;
}
.lightgreen {
    background: rgba(146,237,79, 0.5);
    width:300px;
    margin:auto;
    border-radius: 4px 4px 0 0;
}
.lightorange {
    background: rgba(255,195,61, 0.5);
    width:300px;
    margin: 25px auto 0 auto;
    border-radius: 4px 4px 0 0;
}
/* \----------------------games----------------------\ */
.game {
    width: 310px;
    margin: 25px auto 0 auto;
}


/* \----------------------footer----------------------\ */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 85px;
  font-style: italic;
  text-align: center;
  line-height: 16px;
  font-size: 13px;
  margin: auto;
}
footer p:first-child {
    padding: 25px 0 0 0;
}
footer p:last-child {
    padding: 0 0 25px 0;
}
body::after {
  content: '';
  display: block;
  height: 85px;
}