:root {
    overscroll-behavior: none;  
}
.margin {
    margin-left: 20px;
}
nav a {
    margin-right: 5px;
    margin-left: 5px;
}
a:hover {
    color: purple;
}
.b {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.i {
    font-style: italic;
}

.m {
    margin-right: 10px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}