.bbhome {
    background-color: yellowgreen;
}

.logo {
    background-color: rgba(255,215,0,0.5);
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bbsec {
    background-color: plum;
}

.bbnet {
    background-color: rgb(33,171,205)   ;
}
h1 {
    color: green;
    text-align: center;
}

nav {
    margin: auto;
    text-align: center;
}

footer {
    color:green;
    text-align: center;
}