
.topper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14.5%;
    z-index: -1;
}

#man {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 250px;
    height: 150px;
    z-index: -2;
}
.stank {
    background-color: lightgray;
}
h1 {
    font-size: 45px;
}

a:hover {
    color: navy;
}

h1 {
    padding-top: 1.5%;
    margin: 0; /* Reset margins specifically for headings and paragraphs */

}
.home{
    background-color: gold;
}

.logo {
    
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.bbsec {
    background-color: plum;
}

.bbnet {
    background-color: rgb(33,171,205)   ;
}



h4 {
    background-color: gold;
}
.t {
    font-weight: 600;
}

.a {
    color: darkslategray;

}


h1 {
    color: green;
    text-align: center;
}

nav {
    margin: auto;
    text-align: center;
}

.center {
    text-align: center;
    font-family: Bradley Hand, cursive;
    
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: orange;
    z-index: 1000;
    opacity: 80%;
}
footer::p{
    font-size: 10px;
    
}


